In [1]:
from executor import run_sql
from packager import package_result

res = run_sql("SELECT SUM(expense) AS total_takeout FROM expenses")
print(package_result(res))

res = run_sql("SELECT category, SUM(expense) AS total FROM expenses GROUP BY category")
print(package_result(res))

res = run_sql("SELECT * FROM expenses LIMIT 5")
print(package_result(res))

{'type': 'scalar_aggregate', 'columns': ['total_takeout'], 'row_count': 1, 'elapsed_ms': 2.238035202026367, 'data': {'total_takeout': 26372734.670000006}}
{'type': 'grouped_aggregate', 'columns': ['category', 'total'], 'row_count': 8, 'elapsed_ms': 0.759124755859375, 'data': [{'category': 'Home & Utilities', 'total': 9105689.0}, {'category': 'Health & Personal Care', 'total': 6268651.050000001}, {'category': 'Food & Drinks', 'total': 4945899.0}, {'category': 'Transport', 'total': 4408216.0}, {'category': 'Education', 'total': 681014.1799999999}, {'category': 'Leisure', 'total': 431748.44}, {'category': 'Clothing & Footwear', 'total': 425329.0}, {'category': 'Gifts', 'total': 106188.0}]}
{'type': 'detail', 'columns': ['date', 'category', 'tags', 'expense', 'amount_clp', 'description', 'day'], 'row_count': 5, 'elapsed_ms': 0.3979206085205078, 'data': {'preview': [{'date': '2025-07-01', 'category': 'Food & Drinks', 'tags': 'coffee & tea', 'expense': 43200.0, 'amount_clp': 43200.0, 'description': 'none', 'day': 'Tuesday'}, {'date': '2025-07-02', 'category': 'Food & Drinks', 'tags': 'coffee & tea', 'expense': 10000.0, 'amount_clp': 10000.0, 'description': 'none', 'day': 'Wednesday'}, {'date': '2025-07-02', 'category': 'Health & Personal Care', 'tags': 'gym/exercise', 'expense': 158000.0, 'amount_clp': 158000.0, 'description': 'VFIT gym', 'day': 'Wednesday'}, {'date': '2025-07-02', 'category': 'Food & Drinks', 'tags': 'restaurants', 'expense': 7817.0, 'amount_clp': 7817.0, 'description': 'none', 'day': 'Wednesday'}, {'date': '2025-07-03', 'category': 'Food & Drinks', 'tags': 'restaurants', 'expense': 11719.0, 'amount_clp': 11719.0, 'description': 'none', 'day': 'Thursday'}], 'totals': {'total_amount_clp': 230736.0, 'total_expense': 230736.0}}}

In [1]:
from sqlgen import generate_sql
from executor import run_sql
from packager import package_result
from summarizer import summarize_result

question = "How much did I spend on takeout last month?"
sql = generate_sql(question)
exec_res = run_sql(sql)
packaged = package_result(exec_res)
summary = summarize_result(question, sql, packaged)

print("Q:", question)
print("SQL:", sql)
print("Summary:", summary)

Q: How much did I spend on takeout last month?
SQL: SELECT SUM(expense) AS total_takeout
FROM expenses
WHERE date >= date('now', 'start of month', '-1 month')
  AND date < date('now', 'start of month')
  AND tags LIKE '%restaurants%'
Summary: You spent **$424,304.00** on takeout last month.

In [3]:
from sqlgen import _load_schema_json
print(_load_schema_json())

{"expenses": {"columns": [{"name": "date", "type": "DATE"}, {"name": "category", "type": "TEXT"}, {"name": "tags", "type": "TEXT"}, {"name": "expense", "type": "REAL"}, {"name": "amount_clp", "type": "REAL"}, {"name": "description", "type": "TEXT"}, {"name": "day", "type": "TEXT"}], "samples": [{"date": "2025-07-01", "category": "Food & Drinks", "tags": "coffee & tea", "expense": 43200.0, "amount_clp": 43200.0, "description": "none", "day": "Tuesday"}, {"date": "2025-07-02", "category": "Food & Drinks", "tags": "coffee & tea", "expense": 10000.0, "amount_clp": 10000.0, "description": "none", "day": "Wednesday"}, {"date": "2025-07-02", "category": "Health & Personal Care", "tags": "gym/exercise", "expense": 158000.0, "amount_clp": 158000.0, "description": "VFIT gym", "day": "Wednesday"}, {"date": "2025-07-02", "category": "Food & Drinks", "tags": "restaurants", "expense": 7817.0, "amount_clp": 7817.0, "description": "none", "day": "Wednesday"}, {"date": "2025-07-03", "category": "Food & Drinks", "tags": "restaurants", "expense": 11719.0, "amount_clp": 11719.0, "description": "none", "day": "Thursday"}]}, "incomes": {"columns": [{"name": "date", "type": "DATE"}, {"name": "category", "type": "TEXT"}, {"name": "tags", "type": "TEXT"}, {"name": "income", "type": "REAL"}, {"name": "amount_clp", "type": "REAL"}, {"name": "description", "type": "TEXT"}, {"name": "day", "type": "TEXT"}], "samples": [{"date": "2025-07-04", "category": "Other", "tags": "none", "income": 70000.0, "amount_clp": 70000.0, "description": "Parking rent", "day": "Friday"}, {"date": "2025-07-25", "category": "Salary", "tags": "BHP", "income": 6162765.0, "amount_clp": 6162765.0, "description": "none", "day": "Friday"}, {"date": "2025-06-25", "category": "Salary", "tags": "BHP", "income": 4217609.0, "amount_clp": 4217609.0, "description": "none", "day": "Wednesday"}, {"date": "2025-04-25", "category": "Salary", "tags": "BHP", "income": 4252287.0, "amount_clp": 4252287.0, "description": "none", "day": "Friday"}, {"date": "2025-02-14", "category": "From Dubai", "tags": "none", "income": 2978.0, "amount_clp": 2832644.0, "description": "none", "day": "Friday"}]}}

In [4]:
sql = generate_sql("Show 5 rows from expenses")
print(sql)

SELECT * FROM expenses LIMIT 5